.home-page {
  .project__container__visuals__background, .project__container__visuals__background__filter {
    border: 1px solid $white;

    @media (max-width: 900px) {
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      border-left: none;
      border-right: none;

    }
  }
  .project__container__visuals__background__columns {
    &__left, &__right {
      border-right: 1px solid $beige;
      border-left: 1px solid $beige;
    }
  }
}

.project-page {
  .project__container__visuals {
    height: 100vh;
    width: 100vw;
  }
}

.project__container {
  width: 100%;
  height: 100%;
  top: 0;

  &__visuals {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    &__background {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 66%;
      height: 100%;
      overflow: hidden;

      @media (max-width: 900px) {
        transition: 0.5s width;
        width: 100%;
      }

      img {
        position: absolute;
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      &__filter {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(252, 252, 252, 0.3);
      }

      &__columns {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
    
        &__left, &__right {
          width: 50%;
          height: 0;
          background: $beige;
        }
    
        &__right {
          align-self: flex-end;
        }
      }
    }

    &__front {
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 100vh;
      transition-property: transform;
      transition-duration: 1s;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        object-fit: cover;
        width: 100vw;
        height: 100vh;
      }
    }
  }
}

// img.green-factory {
//   height: 615px;
// }

// img.tesla {
//   width: 74%;

//   @media (max-width: 1220px) {
//     width: initial;
//     height: 68%;
//   }
// }

// img.voltaire {
//   top: 66% !important;
//   height: 96%;
// }

// img.unesco {
//   object-fit: cover;
//   top: 50%;
//   width: 100vw;
//   height: 100vh;

//   // @media (max-width: 1225px) {
//   //   top: 35% !important;
//   //   width: 418px;
//   // }
// }