.project__block-text {
  display: flex;
  padding: 130px 17%;
  width: 100%;
  background: $white_two;

  &__side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0 15px;
  }
}

.project__block-text__container.approach {
  flex-direction: row-reverse;
}