.project__block-text {
  display: flex;
  position: relative;
  padding: 130px 17%;
  width: 100%;
  background: $white_two;

  &__lines {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    &__single {
      position: absolute;
      top: 0;
      height: 100%;
      width: 0px;
      border: solid 0.5px $white;

      &--1 {
        left: 17%;
      }
  
      &--2 {
        left: 50%;
        transform: translateX(-50%);
      }
      
      &--3 {
        right: 17%;
      }
    }
  }

  &__side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0 15px;
  }
}

.project__block-text.approach {
  flex-direction: row-reverse;
}