.home-paging {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 14%;
  width: 50px;
  &__text {
    font-size: 14px;
    font-family: Muli;
    color: $deep_grey;

    @media (max-width: 900px) {
      color: #fff;
    }
  }

  &__line {
    position: relative;
    height: 25px;
    width: 1px;
    background: $soft_grey;

    @media (max-width: 900px) {
      background: #fff;
    }
  }

  @media (max-width: 1375px) {
    left: 13%;
    transition: 0.5s all;
  }

  @media (max-width: 1050px) {
    left: 12%;
    transition: 0.5s all;
  }

  @media (max-width: 900px) {
    
  }
}