@font-face {
  font-family: 'DIN';
  src: url('./../assets/typefaces/DINCondensed.ttf');
  font-weight: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'DIN';
  src: url('./../assets/typefaces/DINCondensed-Bold.ttf');
  font-weight: bold;
  font-stretch: condensed;
}

/*************

    ABOUT

*************/

.about-text {
  font-family: 'Muli';
  font-size: 30px;
  color: $soft_grey;

  &--modified {
    font-weight: 600;
    color: $deep_grey;
  }
}

.about-text-title {
  font-family: Muli;
  font-size: 30px;
  font-weight: bold;
  color: $electric_blue;
}

/*************

    PROJECT

*************/

.project-label {
  font-family: DIN;
  font-size: 14px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0.9px;
  color: $deep_grey;
}

.project-subtitle {
  font-family: DIN;
  font-size: 20px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0.9px;
  color: $deep_grey;
}

.project-label-title {
  font-size: 16px;
  letter-spacing: 1px;
  color: $deep_grey;
  margin-top: 10px;
}

.project-label-title--link {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: $electric_blue;
  margin-top: 10px;

  a {
    margin-right: 30px;
  }
}

.project-intro-text {
  font-family: 'Muli';
  font-size: 18px;
  line-height: 2;
  color: $deep_grey;
}

.project-titlesection {
  font-family: 'DIN';
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  color: $electric_blue;
}

.project-regular-text {
  font-family: 'Muli';
  font-size: 16px;
  line-height: 2;
  color: $soft_grey;
}

.project-end {
  font-family: 'Muli';
  font-size: 16px;
  line-height: 2;
  color: #9b9b9b;
}