.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;

  &__background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 66%;
    height: 507px;
    display: flex;

    &__left, &__right {
      width: 50%;
      background: $beige;
      transition: all 1s;
    }

    &__right {
      align-self: flex-end;
      transform-origin: 100% 0%;
    }
  }
}

.loader.loader-project-page {
  width: 100vw;
  height: 100vh;
  .loader__background {
    width: 100%;
    height: 100%;
  }
}