.project__footer__block {
  display: flex;
  padding: 17%;
  width: 100%;

  &__side {
    width: 50%;
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
  }

}