.main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);  text-align: center;
  h1 {
    color: rgba(0, 0, 0, 0);
    letter-spacing: 22px;
    font-size: 180px;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-text-stroke: 2px $electric_blue;
  }
}