// front images calcul are in the project.scss file

.next-project {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-top: -25%;
  pointer-events: none;
  z-index: 10000;

  &__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 360px;
    pointer-events: initial;

    &__visuals {
      height: 100%;
      width: 100%;
  
      &__background {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
  
        img {
          position: absolute;
          width: 100vw;
          height: 100vh;
          object-fit: cover;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
  
        &__filter {
          pointer-events: none;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(252, 252, 252, 0.3);
        }
      }
  
      &__front {
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
  
        img {
          position: absolute;
          width: 100vw;
          height: 100vh;
          object-fit: cover;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }
}