@keyframes hover_rotation_menu {
  0% { transform: translateX(-50%) translateY(-50%) rotate(0deg) };
  100% { transform: translateX(-50%) translateY(-50%) rotate(360deg) };
}

.menu__container__item {
  pointer-events: initial;
  position: relative;
  width: 60px;
  height: 60px;

  img {
    display: none;
    max-width: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &:hover {
    polygon, rect {
      stroke: $electric_blue !important;
    }

    img {
      display: inherit;
      pointer-events: none;
      animation-name: hover_rotation_menu;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}

.menu__container__item.is-on {
  svg {
    polygon, rect {
      stroke: $electric_blue;
      fill: $electric_blue;
    }
  }
}