.lines {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;

  > div.false {
    display: none;
  }

  &__vertical {
    position: absolute;
    top: 0;
    height: 100%;
    width: 0px;
    border: solid 0.5px $white;

    &--1 {
      left: 17%;
    }

    &--2 {
      left: 50%;
      transform: translateX(-50%);
    }
    
    &--3 {
      right: 17%;
    }
  }
  
  &__horizontal {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0px;
    border: solid 0.5px $white;

    &--1 {
      top: 17%;
    }
    
    &--2 {
      top: 50%;
      transform: translateY(-50%);
    }
    
    &--3 {
      bottom: 17%;
    }
  }
}